body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Quicksand';
}

html {
    scroll-behavior: smooth;
}

/*heading og paragraph size og family er defineret*/
h1 {
    font-size: 3em;
    font-family: 'Permanent Marker'
}

p {
    font-size:0.8em;
}




/*inspiration til effekter på tekst og pyramide billede: https://www.youtube.com/watch?v=huVJW23JHKQ. Disse effekter er der brugt js til at effekten først køre play, når man scroller ned på siden med den given tekst eller billede.*/


/*fade in effekt er der lagt class på lydfilerne og teksten om kilics historie*/
.fade-in {
    opacity: 0;
    transition: opacity 400ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}


/*pyramide billede kommer ind fra venstre side*/
.from-left {
    transform: translateX(-100%);
}

/*teksten kommer ind fra højre side og mødes med pyramiden i midten*/
.from-right {
    transform: translateX(100%);
}

.from-left,
.from-right {
    transition: transform 500ms ease-in;
}

.from-left.appear,
.from-right.appear {
    transform: translateX(0);
}





/*Introduktions videoen*/
#video {
    display: block;
    width: 100%;
}


#videoBox {
    width: 100%;
    margin: auto;
    display: block;
    position: relative;
}


/*sort bølge boks til nederst på videoen*/
.hvidboks {
    width: 110%;
    position: absolute;
    top: 0;
    margin-top: 600px;
}



/*overskriften til videoen er centreret responsivt*/
#videoMessage2 h1 {
    font-family: 'Permanent Marker';
    font-size: 8em;
    text-align: center;
    margin: 0.25em;
    color: white;
    margin-bottom: 200px;
}

/*centrer overskriften i videoen*/
#videoMessageBox2 {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/*focus in animation på overskriften når man går ind på siden*/
.text-focus-in {
    -webkit-animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}





/*AFSNIT om kilic marked + video + audio*/

/*anvendt grid til at placerer elementerne rigtigt på siden*/
.box1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

.tekstboks {
    grid-area: 1/1/3/2;
    padding: 0 40% 20% 3%;
    margin-top: 170px;
    line-height: 1.7em;
}

.bobbel {
    grid-area: 1/1/3/2;
    width: 96%;
}

.mustafa {
    border-style: solid;
    border-width: 10px;
    border-color: black;
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-left: 0px;
  
}

.video2 {
    grid-area: 1/2/2/3;
    
}

.video2 h1 {
    text-align: center;
    color: white;
    font-size: 2.4em;
}

.layout > div {
    grid-area: 2/2/3/3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.kunder {
    text-align: center;
    text-align: center;
    background: #FFD97E;
    display: block;
    margin: 5% 15% 5% 15%;
    padding: 20px;
    border-radius: 0.2em;
    margin-top: 150px;
}

#spil,
#spil2,
#spil3 {
    cursor: pointer;
    width: 32%;
}



#spil:hover,
#spil2:hover,
#spil3:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}








/*afsnit om inspiration til madlavning*/
.box2 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    background-image: url("../images/bladny.png");
    width: 100%;
    height: 900px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
}

.inspiration {
    grid-area: 1/1/2/4;
    text-align: center;
    opacity: 80%;
    display: block;
    margin: 9% 0% 6% 0%;
    padding: 20px;
    color: white;
    font-size: 3.2em;

}



.suppe1 {
    grid-area: 2/1/3/2;
    width: 80%;
    margin: auto;
}

.suppe2 {
    grid-area: 2/2/3/3;
    width: 82%;
    margin: auto;
}

.suppe3 {
    grid-area: 2/3/3/4;
    width: 82%;
    margin: auto;
}

.button,
.button2,
.button3 {
    grid-area: 3/1/4/2;
    background-color: #FFD97E;
    opacity: 80%;
    margin: 10px;
    color: black;
    border: 0;
    width: 50%;
    border-radius: 0.5em;
    margin: auto;
    display: block;
    text-align: center;
    margin-top: 1px;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2em;
    margin-bottom: 10px;
    cursor: pointer;
}

.button:hover,
.button2:hover,
.button3:hover {
    transform: scale(1.1);
}

.button2 {
    grid-area: 3/2/4/3;
}

.button3 {
    grid-area: 3/3/4/4;
}

.button:hover,
.button2:hover,
.button3:hover {
    border-color: black;
    box-shadow: 0 0 8px 0 black;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.modal2 {
    display: none;
}

.modal-content {
    margin: 30% auto;
    width: 90%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    animation-name: modalopen;
    animation-duration: 1s;
    background-color: white;
}

.header {
    background-color: #FFD97E;
    opacity: 70%;
    padding: 15px;
    color: black;
    border-radius: 8px;
}


.modal-body {
    margin: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto auto;
}

.suppeopskrift1 {
    grid-area: 1/1/2/2;
    padding: 20px 20px 20px 50px;

}

.suppeopskrift2 {
    grid-area: 1/2/2/3;
    padding: 20px 20px 20px 50px;
}

.modal-body2 {
    margin: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto auto;
}


.salatopskrift1 {
    grid-area: 1/1/2/2;
    padding: 20px 20px 20px 50px;

}

.salatopskrift2 {
    grid-area: 1/2/2/3;
    padding: 20px 20px 20px 50px;
}

.modal-body3 {
    margin: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto auto;
    background-color: #;
}


.falafelopskrift1 {
    grid-area: 1/1/2/2;
    padding: 20px 20px 20px 50px;

}

.falafelopskrift2 {
    grid-area: 1/2/2/3;
    padding: 20px 20px 20px 50px;
}


.modal-header h1 {
    margin: 0;
}

.closeBtn {
    color: black;
    float: right;
    font-size: 30px;
    padding-right: 20px;
}

.closeBtn:hover,
.closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen {
    from {
        opacity: 0
    }

    to {
        opacity;
        1
    }
}






/*afsnit om madudvikling*/
.box3 {
    display: grid;
    grid-template-columns: 600px auto;
    grid-auto-rows: auto auto auto auto auto;
    margin: 0px 100px 50px 100px;
}


.box3 h1 {
    grid-area: 1/1/2/3;
    text-align: center;
    display: block;
    margin: 10% 0% 10% 0%;
    color: white;
    font-size: 3.2em;
}


.infographic {
    grid-area: 2/1/6/2;
    width: 102%;
    margin-top: 5px;

}



.middelalderen {
    grid-area: 2/2/3/3;
    text-align: center;
    margin-top: 0;
    color: #E9E73A;
    margin: 0 10%;
    font-weight: bold;
}


.renassancen {
    grid-area: 3/2/4/3;
    text-align: center;
    color: #dfde4f;
    margin: 0 10%;
    font-weight: bold;
}

.tallet {
    grid-area: 4/2/5/3;
    text-align: center;
    margin: 0 10%;
    color: #dcdb72;
    font-weight: bold;
}

.idag {
    grid-area: 5/2/6/3;
    text-align: center;
    color: #dfdfa6;
    margin: 0 10%;
    font-weight: bold;
}

/*pil animation nederst på siden*/
.pilop {
    width: 5%;
    justify-content: center;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    scroll-behavior: smooth;
}

a:link,
a:visited {
    text-decoration: none;
}

.bounce-top {
    -webkit-animation: bounce-top 3s infinite both;
    animation: bounce-top 3s infinite both;
}


.baggrundsbillede {
    background-color:#2B2929;

}

.baggrundsbillede1 {
    background-color: #211e1e;
  
}



/* ----------------------------------------------
 * Generated by Animista on 2020-2-20 22:26:58
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}


/* ----------------------------------------------
 * Generated by Animista on 2020-2-11 11:24:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-top {
    0% {
        -webkit-transform: translateY(-45px);
        transform: translateY(-45px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 1;
    }

    24% {
        opacity: 1;
    }

    40% {
        -webkit-transform: translateY(-24px);
        transform: translateY(-24px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    65% {
        -webkit-transform: translateY(-12px);
        transform: translateY(-12px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    82% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    93% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    25%,
    55%,
    75%,
    87% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
}

@keyframes bounce-top {
    0% {
        -webkit-transform: translateY(-45px);
        transform: translateY(-45px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 1;
    }

    24% {
        opacity: 1;
    }

    40% {
        -webkit-transform: translateY(-24px);
        transform: translateY(-24px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    65% {
        -webkit-transform: translateY(-12px);
        transform: translateY(-12px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    82% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    93% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    25%,
    55%,
    75%,
    87% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
}
